@import 'theme';

// borrowed from http://clrs.cc/
$white:  #FFFFFF;
$black:  #222222;
$gray:   #f5f5f5;
$silver: #DDDDDD;
$blue:   #4078c0;
$green:  #6cc644;
$red:    #bd2c00;
$orange: #c9510c;
$purple: #6e5494;
$yellow: #ffd36b;



$color-list: (
	white: $white,
	black: $black,
	gray: $gray,
	silver: $silver,
	blue: $blue,
	green: $green,
	red: $red,
	orange: $orange,
	purple: $purple,
	yellow: $yellow,

	primary: $primary,
	secondary: $secondary,
	success: $success,
	error: $error,
	warning: $warning,
	info: $info
);

@each $key, $value in $color-list {
	@each $adjust, $color in ('lightest', lighten($value, 30)),
													 ('lighter', lighten($value, 15)),
													 ('light', lighten($value, 5)),
													 ('', $value),
													 ('dark', darken($value, 5)),
													 ('darker', darken($value, 15)),
													 ('darkest', darken($value, 30)) {

	  .#{$adjust}#{$key} {
	    color: $color;
	  }

		.fg-#{$adjust}#{$key} {
	    color: $color;
	  }

	  .bg-#{$adjust}#{$key}  {
	    background-color: $color;
	  }

	  .border-#{$adjust}#{$key}  {
	    border: 1px solid $color;
	  }

		@each $side in top,left,bottom,right {
			.border-#{$side}-#{$adjust}#{$key} {
				border-#{$side}: 1px solid $key;
			}
		}
	}
}
