@import url('https://fonts.googleapis.com/css?family=Lato:300|Source+Sans+Pro');

@import 'theme';

@import 'utils/all';

@import 'layout/flex';

@import 'components/button';
@import 'components/label';
@import 'components/list-item';
@import 'components/column';

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	cursor: pointer;
}
