@import '../utils/all';

.label {
	@extend .rounded-md;
	@extend .bg-gray;
	@extend .margin-sm;
	@extend .font-sm;

	padding: 0.2rem 1rem;
	display: inline-block;

	@each $color, $value in $theme-colors {
		&.#{$color} {
			@extend .bg-#{$color};
			@extend .fg-white;
		}
	}
}

.badge {
	@extend .label;
	@extend .rounded-lg;
	padding: 0.2rem 0.5rem;
}
