{{#freestyle-section name='Component Classes' as |section|}}
	{{#section.subsection name='Buttons'}}
		{{#freestyle-usage 'button-sizes' title='Button Sizes'}}
			<div class='button small'>Small Button</div>
			<div class='button'>Button</div>
			<div class='button large'>Large Button</div>
		{{/freestyle-usage}}

		{{#freestyle-usage 'button-colors' title='Button Colors'}}
			<div class='button primary'>Primary Button</div>
			<div class='button secondary'>Secondary Button</div>
			<div class='button success'>Success Button</div>
			<div class='button error'>Error Button</div>
			<div class='button warning'>Warning Button</div>
		{{/freestyle-usage}}

		{{#freestyle-usage 'button-outline-colors' title='Outline Button Colors'}}
			<div class='button outline'>Button</div>
			<div class='button outline primary'>Primary Button</div>
			<div class='button outline secondary'>Secondary Button</div>
			<div class='button outline success'>Success Button</div>
			<div class='button outline error'>Error Button</div>
			<div class='button outline warning'>Warning Button</div>
		{{/freestyle-usage}}
	{{/section.subsection}}

	{{#section.subsection name='Labels'}}
		{{#freestyle-usage 'label-colors' title='Label Colors'}}
			<div class='label'>Primary Label</div>
			<div class='label primary'>Primary Label</div>
			<div class='label secondary'>Secondary Label</div>
			<div class='label success'>Success Label</div>
			<div class='label error'>Error Label</div>
			<div class='label warning'>Warning Label</div>
		{{/freestyle-usage}}
	{{/section.subsection}}

	{{#section.subsection name='Badges'}}
		{{#freestyle-usage 'badge-colors' title='Badge Colors'}}
			<div class='badge'>1</div>
			<div class='badge primary'>2</div>
			<div class='badge secondary'>3</div>
			<div class='badge success'>4</div>
			<div class='badge error'>5</div>
			<div class='badge warning'>6</div>
		{{/freestyle-usage}}
	{{/section.subsection}}
{{/freestyle-section}}
