{{#freestyle-section name='Utility Classes' as |section|}}
	{{#section.subsection name='Padding and Margin'}}
		{{#freestyle-usage 'padding' title='Padding utilities'}}
			<div class='border-silver padding-sm'>Small Padding</div>
			<div class='border-silver padding-md'>Medium Padding</div>
			<div class='border-silver padding-lg'>Large Padding</div>
		{{/freestyle-usage}}

		{{#freestyle-usage 'margin' title='Margin utilities'}}
			<div class='border-silver margin-sm'>Small Margin</div>
			<div class='border-silver margin-md'>Medium Margin</div>
			<div class='border-silver margin-lg'>Large Margin</div>
		{{/freestyle-usage}}
	{{/section.subsection}}

	{{#section.subsection name='Shadow'}}
		{{#freestyle-usage 'shadow' title='Shadow utilities'}}
			<div class='border-silver square shadow'>Shadow</div>
			<div class='border-silver square shadow-md'>Medium Shadow</div>
			<div class='border-silver square shadow-lg'>Large Shadow</div>
			<div class='border-silver square shadow-inner'>Inner Shadow</div>
		{{/freestyle-usage}}
	{{/section.subsection}}

	{{#section.subsection name='Rounding'}}
		{{#freestyle-usage 'rounding' title='Rounding utilities'}}
			<div class='border-darksilver square rounded-sm'>Small Rounding</div>
			<div class='border-darksilver square rounded-md'>Medium Rounding</div>
			<div class='border-darksilver square rounded-lg'>Large Rounding</div>
		{{/freestyle-usage}}
	{{/section.subsection}}

{{/freestyle-section}}
