@import '../theme';

@each $key, $value in $theme-colors {
	@each $adjust, $color in ('lightest', lighten($value, 30)),
													 ('lighter', lighten($value, 15)),
													 ('light', lighten($value, 5)),
													 ('', $value),
													 ('dark', darken($value, 5)),
													 ('darker', darken($value, 15)),
													 ('darkest', darken($value, 30)) {

		.fg-#{$adjust}#{$key} {
	    color: $color;
	  }

	  .bg-#{$adjust}#{$key}  {
	    background-color: $color;
	  }

	  .border-#{$adjust}#{$key}  {
	    border: 1px solid $color;
	  }

		@each $side in top,left,bottom,right {
			.border-#{$side}-#{$adjust}#{$key} {
				border-#{$side}: 1px solid $key;
			}
		}
	}
}

.border-color {
	border: 1px solid $border-color;
}

.border-none,.no-border {
	border: none !important;
}

@each $side in top,left,bottom,right {
	.border-#{$side}-color {
		border-#{$side}: 1px solid $border-color;
	}

	.border-#{$side}-none {
		border-#{$side}: none;
	}
}
