// height / width
@for $i from 1 through 20 {
	$pct: $i * 5;
	.w-#{$pct} { width: $pct * 1%; }
	.h-#{$pct} { height: $pct * 1%; }
	.w-#{$i}rem { width: $i * 1rem; }
	.h-#{$i}rem { height: $i * 1rem; }
}


// padding / margin
@each $name, $value in ('sm', 0.5), ('md', 1), ('lg', 2) {
	.padding-#{$name} { padding: $value * 1rem; }
	.margin-#{$name} { margin: $value * 1rem; }
}

// border radius
@each $name, $value in ('sm', 0.2), ('md', 0.4), ('lg', 2) {
	.rounded-#{$name} { border-radius: $value * 1rem; }
}

// font-size
@each $name, $value in ('sm', 0.8), ('md', 1), ('lg', 2) {
	.font-#{$name} { font-size:: $value * 1rem; }
}

@each $name, $value in ('sm', 1), ('md', 2), ('lg', 3) {
	.letter-spacing-#{$name} { letter-spacing: $value * 1px; }
}

.small-caps {
	font-variant: small-caps;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
